name: Publish to npm

on:
  push:
    tags:
      - "v*"

jobs:
  publish-stable:
    runs-on: ubuntu-latest

    # Avoid accidentally publishing prerelease tags to the `latest` dist-tag.
    if: ${{ !contains(github.ref_name, '-rc.') }}

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build your project
        run: pnpm build

      - name: Publish to npm with Provenance
        run: pnpm publish --no-git-checks
        env:
          NPM_CONFIG_PROVENANCE: "true"

  publish-rc:
    runs-on: ubuntu-latest

    if: ${{ contains(github.ref_name, '-rc.') }}

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build your project
        run: pnpm build

      - name: Publish to npm with Provenance
        run: pnpm publish --tag rc --no-git-checks
        env:
          NPM_CONFIG_PROVENANCE: "true"
